<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    
    <add key="host" value="mdmserver" />
    <add key="pass" value="maronusepasspass" />
    <add key="user" value="maron_use" />
    <add key="db" value="" />
    
    <add key="ClientName" value="タッチ01" />
    
    <add key="initial_setting" value="no" />
  </appSettings>
</configuration>
